VITE_SUPABASE_URL=https://pffapmqqswcmndlvkjrs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmZmFwbXFxc3djbW5kbHZranJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI3Njc5OTksImV4cCI6MjAxODM0Mzk5OX0.YxJ2q9L3JKLDp5oKZ_qK5K5K5K5K5K5K5K5K5K5K5K5
